body{
    background: #111;
    margin: 0;
    padding: 0;
}
#head{
    height: 15vh;
    background: #ffe588;
    margin-bottom: 20px;
    
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.back i{
    font-size: 2.3rem;
    background: #151515;
    border-radius: 50%;
    padding: 10px;
    color: #ffe588;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    height: 35px;
    width: 35px;
}
.back{
    padding: 20px;
    
}
.tele{
    letter-spacing: 20px;
    padding: 15px;
    text-align: center;
    /* height: 5px;
    width: 5px; */
  
    
}
.tele i{
    font-size: 2rem;
    background: #151515;
    border-radius: 50%;
    padding: 12px;
    color: #ffe588;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    height: 35px;
    width: 35px;
    
}
#cake{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    grid-gap: 25px;
   
}
.container{
    
    height: 250px;
    width: 300px;
    border-radius: 20px;
    background-color: #151515;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
    position: relative;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}
.image{
    display: flex;
    align-items: left;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #ffe588;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.3s;
    /* height: 40%; */
    top: 0;
    border-radius: 20px 20px 20px 20px;
}
.image img{
    height: 200px;
    width: 200px;
    transition: 0.3s ease-in-out;
}
.container:hover .image{
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%); 
}
 .container:hover{
 height: 400px;
}

.content{
    transform: translateY(-200px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    visibility: hidden;
    transition: 0.5s;
    transition-delay: 1s;
    
}
.container:hover .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: visible;
    transform: translateY(-20px);
    transition-delay: 1s;
}
.heading{
    font-family: calibri;
    color: #ffe588;
    font-weight: 800;
    font-size: 1.5rem;
}
.price{
    font-family: calibri;
    column-rule: #fff;
    opacity: 0.8;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 8px;
}
.pound{
    width: 50%;
    height: 30px;
    outline: none;
    border: none;
    background: #ffe588;
    color: #151515;
    font-size: 1.1rem;
    font-family: calibri;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Pound{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #ffe588;
    color: #151515;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: calibri;
    font-weight: 700;
}

.item-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.item-btn1:hover,
.item-btn2:hover{
    height: 30px;
    width: 100px;
    background: #ffe588;
    color: #151515;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}
.item-btn2,
.item-btn1{
    height: 30px;
    width: 100px;
    background: #151515;
    color: #ffe588;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}