*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffe588;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track{
 background: #ffe588;
    border: 0px solid #151515;
 box-shadow: 2px solid 0 0 2.5 2px rgba(0,0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
background:#151515;
/* padding: 15px; */
border-radius: 0%;
/* margin-top: 20px; */

}
#head{
    height: 30px;
    background-color: #151515;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    text-transform: uppercase;
}
.head p{
    color: #fff;
    font-size: 1.2rem;
}
.navbar{
    /* overflow-x: hidden; */
    overflow: auto;
    z-index: 1 !important;
    font-family: calibri;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffe588;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1 !important;
    top: 0;
    left: 0;
    background-color: #151515;
    opacity: 1;
    overflow-x: auto;
    padding-top: 60px;
    transition: 0.7s;
}
.big{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ffe588;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
}
.nav a:hover, 
.nav .big:hover
{
    background-color: #ffe588;
    color: #151515;
}
.nav .close{
    position: absolute !important;
    top: 20px;
    right: 1px;
    font-size: 30px;
    /* margin-bottom: 20px; */
}
.slide a{
    color: #151515;
    font-size: 36px;
    padding: 20px;
    margin-top: 5px;
}
#content{
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}
.search input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px inset #151515;
    width: 250px;
    
}
.search i{
    font-size: 20px;
    color: #151515;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}
.search input::placeholder{
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 10px;
}
.search i:hover{
    background: #151515;
    color: #ffe588;
}
#home{
    height: 100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-text h1{
    font-family: 'Staatliches', cursive;
    font-size: 5rem;
    letter-spacing: 3px;
}
.logo-text h5{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}
.logo-text h3{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.logo-text p{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 19px;
    font-weight: 700;
}
.cd-words-wrapper{
    color: #151515;
    /* font-weight: bold; */
   /* text-align: center; */
   /* display: flex;
   align-items: center;
   justify-content: center; */
   font-family: 'Rubik', sans-serif;
   font-size: 45px;
   margin-left: 20px;
   margin-top: -50px;
   font-weight: 800;
}
.cd-intro{
    margin-top: 20px;

}
.cd-intro span{
    font-weight: bold;
}
.heading1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.punjabi{
    font-size: 30px;
    font-weight: 700;
}
.gototopbtn{
    position: fixed;
    height: 50px;
    width: 50px;
    background: #ffe588;
    color: #151515;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    bottom: 40px;
    right: 50px;
    font-size: 1.8rem;
    text-align: center;
}
#about{
    height: 100vh;
    background: #151515;
}
.abt-heading{
    display: flex;
    align-items: center;
    padding: 30px 40px;

}
.abt-logo{
    color: #ffe588;
    font-size: 5rem;
    padding: 10px;   
}
.abt-text{
    color: #ffe588;
    padding: 5px;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.abt-context{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 60%;
    
}
.abt-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.abt-details{
    width: 1000px;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    height: 400px;
}
.abt-dtl{
display: flex;
align-items: center;
justify-content: spa;
}
.abt-img{
    padding: 15px;
    background: #ffe588;
    color: #151515;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;

}
.abt-content{
    color: #ffe588;
    font-size: 1.2rem;
    font-family: calibri;
    font-weight: 800;
    padding: 10px 10px;
}
.abt-text2{
    height: 300px;
    padding: 30px 30px;
    background: #ffe588;
    color: #151515;
}
.abt-text-dtl h3{
font-size: 1.5rem;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 600;
line-height: 120%;
}
.abt-text-dtl p{
font-size: 1.3rem;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
line-height: 120%;
padding: 30px 0px;
}
.butn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.abt-btn{
    height: 80px;
    width: 270px;
    background: #ffe588;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.abt-btn:hover{
    transform: scale(1.1);
}
.btn-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px;
    font-family: calibri;
    text-transform: uppercase;
}
#items{
    height: 170vh;

}
.item-head{
  float: right;
  margin-top: 10px;
  padding: 15px;
  letter-spacing: 20px;
}
.item-head-a{
  float: right;
}
.item-head-a i{
    color: #151515;
    font-size: 2rem;
}
.item-container{
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 30px;
    margin-top: 100px;
    z-index: -1 !important;
}
.item-card{
    max-width: 300px;
    height: 230px;
    /* position: relative; */
    background: #151515;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    z-index: -1 !important;
    transition: 0.3s ease-in-out;
}
.item-card:hover{
    height: 420px;
    background: #151515;
}
.imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 0px;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 5px 12px rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.image2{
    width: 260px;
    height: 260px;
    max-width: 100%;
    border-radius: 4px;
}
.item-content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #ffe588;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.item-content h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}
.item-card:hover .item-content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.item-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.item-btn1,
.item-btn2:hover{
    height: 30px;
    width: 100px;
    background: #ffe588;
    color: #151515;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}
.item-btn2,
.item-btn1:hover{
    height: 30px;
    width: 100px;
    background: #151515;
    color: #ffe588;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}
.item-content p{
    padding-top: 5px;
    font-family: cursive;
}
#contact{
    height: 30vh;
    background: #151515;
}
.cnt-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.cnt-head-1{
    color: #ffe588;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: calibri;
    letter-spacing: 2px;
}
.cnt-text{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cnt-text-1{
    padding: 20px;
    letter-spacing: 2px;
    color: #ffe588;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: calibri;

}
.cnt-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}
.cnt-btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    width: 150px;
}
.cnt-btn-in{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    background: #ffe588;
    padding: 25px;
    font-size: 1.1rem;
    color: #151515;
    height: 30px;
    width: 150px;
    font-weight: 700;
    transition: 0.3s;
}
.cnt-btn-in:hover{
    background: #ffe580;
    transform: scale(1.1);

}